<p-card>
  <div style="display: flex;">
    <div  [style]="{ width: '20%' }">
      <span style="font-weight: bold;">
          Codigo:
        </span>
        <span>
          {{compra.compra_codigo}}
        </span><br>
        <span style="font-weight: bold;">
          Estado:
        </span>
        <span>
          {{compra.estado_compra.estado_compra_nombre}}
        </span><br>
        <span style="font-weight: bold;">
          Correo usuario:
        </span>
        <span>
          {{compra.usuario.email}}
        </span><br>
        <span style="font-weight: bold;">
          Fono usuario:
        </span><br>
        <span>
          {{compra.usuario.number}}
        </span><br>
    </div>
      <div style="flex: 1;">
    <p-scrollPanel [style]="{ width: '100%', maxHeight: '250px' }">
      @for (disco of discos; track disco.id) {
      <app-mostrador-compra [producto]="disco" [eliminable]="false">
      </app-mostrador-compra>
      }
    </p-scrollPanel>
    </div>
    @switch(compra.estado_compra.estado_compra_nombre){
    @case(estadosCompra[0].name){
    <div>
      <p-button
        [style]="{ marginRight: '3px' }"
        size="small"
        (onClick)="aprobarCompra()">
        Aprobar
      </p-button>
      <p-button
        size="small"
        (onClick)="reprobarCompra()">
        Reprobar
      </p-button>
    </div>
    }
    @case(estadosCompra[1].name){
    @if(compra.metodo_despacho.metodo_despacho_slug == "retiro"){
    <div style="display: flex; flex-direction: column;">
      <p-button label="Pedido preparado" (onClick)="pedidoPreparado()"/>
    </div>
    }@else{
    <div style="display: flex; flex-direction: column;">
      <p-button label="Pedido en transporte" (onClick)="pedidoPreparado()"/>
    </div>
    }
    }
    @case(estadosCompra[2].name){
    <div style="display: flex; flex-direction: column;">
      <p-button label="Confirmar retiro" (onClick)="confirmarRetiro()"/>
    </div>
    }
    @case(estadosCompra[3].name){
    <div style="display: flex; flex-direction: column;">
      <p-button label="Confirmar entrega" (onClick)="confirmarRecepcion()"/>
    </div>
    }
    }
  </div>
</p-card>
