<div style="max-width: 290px;">
  <p-card>
    <div class="flex align-items-center">
      <p-image  (click)="mostrarDetalles()" src="http://api.biobioreciclajes.cl/api/images/{{producto.imagenUrl}}" alt="Image" height="250" width="250"></p-image>
    </div>
    <div>
            <span style="font-weight: bold;">
        {{producto.nombre}}
      </span><br>
      @if(producto.descuento != null){
      <del> Precio: {{producto.precio}} Clp.</del><span> -{{producto.descuento}}%</span><br>
      <span> Precio: {{(producto.precio)*(100 - producto.descuento) / 100}} Clp.</span><br>
      }@else{
      <span> Precio: {{producto.precio}} Clp.</span><br>
      }
      <span> Estado: {{producto.estado}}.</span><br>
      @switch(producto.tipoProducto){
      @case("disco"){
      <span style="word-wrap: break-word;">
        {{producto.memoria}} GB, {{producto.marca}}, tamaño: {{producto.tamano}}, sistema de archivos: {{producto.sistemaArchivos}}.
      </span>
      }
      @case("periferico"){
      <span style="word-wrap: break-word;">
        Tipo: {{producto.tipo_periferico}}, entrada: {{producto.tipo_entrada}}, Marca: {{producto.marca}}.
      </span>
      }
      @case("ram"){
      <span style="word-wrap: break-word;">
        Tipo: {{producto.tipo_ram}}, capacidad: {{producto.capacidad}} GB, tamaño: {{producto.tamano_ram}} velocidad: {{producto.velocidad_ram}}, Marca: {{producto.marca}}.
      </span>
      }
      @case("cable"){
      <span style="word-wrap: break-word;">
        Unidades disponibles: {{producto.cantidad}}, precio: {{producto.precio}}, marca: {{producto.marca}}, tipo de entrada: {{producto.tipo_entrada}}.
      </span>
      }
      }
    </div>
    <div style="margin-top: 3%;display: flex; justify-content: space-between;">
      <div><span>Descuento: </span></div>
      <div style="margin-right: 5%;">
        <input
        style="width: 40px; height: 10px;"
        (keypress)="onInput($event)"
        pInputText
        id="email"
        class="p-inputtext-sm"
        aria-describedby="email-help"
        [(ngModel)]="selectedDescuento" />
      <span>% </span>
      </div>
    </div>
    <div style="margin-top: 3%;display: flex; justify-content: space-between;">
      <div><span>Destacado: </span></div>
      <div style="margin-right: 13%;">
      <p-checkbox
        [(ngModel)]="destacado"
        [binary]="true"
        inputId="binary" />
      </div>
    </div>
    <div style="text-align: right;
      margin-right: 3%;
      margin-top: 3%;">
      <p-button
          size="small"
          (onClick)="guardarCambios()">
          Guardar
        </p-button>
    </div>
  </p-card>
</div>

<p-toast />
