<p-card header="Estadisticas">
  <div style="display: flex; justify-content: right;">
    <p-button
      size="small"
      (click)="downloadChartAsPDF()">Descargar PDF
      </p-button>
  </div>

  <div style="display: flex; justify-content: space-between;">
    <div class="card flex justify-content-center">
      <div class="flex flex-wrap gap-3">
          <p-radioButton
            name="Por Desde siempre"
            value="ano"
            (onClick)="generarEstadisticas()"
            [(ngModel)]="parametroTiempo"
            inputId="parametroCalculo1" />
            <label for="parametroCalculo1" class="ml-2">
              Desde siempre
            </label>
      </div>
      <div class="flex flex-wrap gap-3">
          <p-radioButton
            name="Por año"
            value="mes"
            (onClick)="generarEstadisticas()"
            [(ngModel)]="parametroTiempo"
            inputId="parametroCalculo1" />
            <label for="parametroCalculo1" class="ml-2">
              Año actual
            </label>
      </div>
      <div class="flex flex-wrap gap-3">
            <p-radioButton
              name="Seleccionar año"
              value="selectAno"
              (onClick)="generarEstadisticas()"
              [(ngModel)]="parametroTiempo"
              inputId="parametroCalculo1" />
              <label for="parametroCalculo1" class="ml-2">
                Seleccionar año
              </label>
      </div>
      <div class="flex flex-wrap gap-3">
        <p-calendar
          [style]="{width:'70%'}"
          [(ngModel)]="mesSeleccionado"
          (onClose)="generarEstadisticas()"
          view="year"
          dateFormat="yy"
          [readonlyInput]="true" />
      </div>
      <div style="margin-top: 10px" class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <span>Calcular segun:</span>
        </div>
        <div class="flex align-items-center">
          <p-radioButton
            name="Tipo producto"
            value="producto"
            (onClick)="generarEstadisticas()"
            [(ngModel)]="parametroCalculo"
            inputId="parametroCalculo1" />
            <label for="parametroCalculo1" class="ml-2">
              Tipo producto
            </label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            name="Marca"
            value="marca"
            (onClick)="generarEstadisticas()"
            [(ngModel)]="parametroCalculo"
            inputId="parametroCalculo2" />
            <label for="parametroCalculo2" class="ml-2">
              Marca
            </label>
        </div>
        <div class="flex align-items-center">
          <p-radioButton
            name="usuario"
            value="usuario"
            (onClick)="generarEstadisticas()"
            [(ngModel)]="parametroCalculo"
            inputId="parametroCalculo4" />
            <label for="parametroCalculo4" class="ml-2">
              Usuarios
            </label>
        </div>

      <div style="margin-top: 10px" class="flex flex-wrap gap-3">
          <span>Opciones:</span>
        </div>
        <div class="flex align-items-center">
          <p-inputSwitch
            [style]="{transform: 'scale(0.7)'}"
            name="precio"
            value="porPrecio"
            (onChange)="generarEstadisticas()"
            [(ngModel)]="porPrecio"
            inputId="parametroCalculo5" />
            <label for="parametroCalculo5" class="ml-2">
              Precio en vez de cantidad
            </label>
        </div>
        <div class="flex align-items-center">
          <p-inputSwitch
            [style]="{transform: 'scale(0.7)'}"
            (onChange)="generarEstadisticas()"
            [(ngModel)]="frecuanciaAcumulada"
            inputId="parametroCalculo5" />
            <label
              for="parametroCalculo6" class="ml-2">
              Frecuencia acumulada
            </label>
        </div>
      </div>
    </div>
    <div
      style="width: 80%">
      <p-chart
        #chart
        type="bar" [data]="data"
        [options]="options" />
        <span>Total de ventas:</span><br>
          @for (data of dataFinal; track data.etiqueta) {
          <span>{{data.etiqueta}}: </span>
          <span>{{data.valor}}</span><br>
          }
    </div>
  </div>
</p-card>
